body {
  background-color: rgba(0,0,0,.03);
  
}

:root {
  --bs-purple-light: rgb(155, 123, 212);
  --bs-purple-lightest: rgb(177, 143, 235);
}

.loading{
  background-color: var(--bs-purple-lightest);
  height: 5px;
  position: absolute;
}
.ms-6 {
  margin-left: 11rem!important;
}
.border-primary{
  border-color: var(--bs-purple-light)!important;
}

.no-decore {
  text-decoration: none;
  color: rgba(255,255,255,.55);
}
.no-decore:hover {
  text-decoration: none;
  /* color: rgba(255,255,255,.55); */
}
.navbar-dark .navbar-nav .nav-link.active{
  background-color: rgb(255, 255, 255, .3);
  border-radius: 3em;
}

.nav-link {
  transition: color 0.25s ease-in-out, background-color 0.35s ease-in-out, border-color 0.35s ease-in-out, border-radius 0.45s ease-in-out;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: var(--bs-purple)!important;
}

.btn-primary {
  background-color: var(--bs-purple)!important;
  border-color: var(--bs-purple)!important;
}



.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  border-color: var(--bs-purple-light)!important;
  box-shadow: 0 0 0 0.25rem var(--bs-purple-light)!important;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: var(--bs-purple-light)!important;
  border-color: var(--bs-purple-light)!important;
}

